body {
  background-image: url(); 
  background-size: contain;
  background-position: fixed;
  background-repeat: no-repeat;
  background-clip: content-box;
}

.fondo-central {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
  padding: 0vw 10vw;
}


.hidden {
  opacity: 0;
  transition: all 4s;
}

.show {
  opacity: 1;
}